.sidebar__icon {
  font-size: 12px;
  width: 12px;
  height: 12px;
  color: rgb(130, 129, 129);
  font-weight: medium;
  &-secondary {
    color: rgb(29, 185, 84);
  }
}
.sidebar__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 16rem;
  height: 4rem;
  border: 2px solid rgb(29, 185, 84);
  border-radius: 0.5rem;
  padding: 0 0.4rem;
}

.sidebar__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sidebar__text {
  font-size: 1.2rem;
  color: rgb(130, 129, 129);
}
.sidebar__text--secondary {
  color: rgb(29, 185, 84);
}
